@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.otf');
    font-weight:lighter;
}
@font-face {
    font-family: PTSerif;
    src: url('../fonts/PTSerif.ttf');
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.clean {
  clear:both;
  float:none!important;
}
.hide-desk {
  display:none;
}
body {
	margin: 0;
	padding: 0px;
	height: 100%;
	color: #2e2e30;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Montserrat', helvetica, tahoma, arial;
}
a img {
  border:0px;
}
a {
 color: #2e2e30;
}
a:hover{
  text-decoration:none;
}
@media screen and (min-width: 1020px) {
.container {
 width:1000px; 
}
}
@media screen and (max-width: 1020px) {

}
.btn {
  border-radius: 20px;
}
.btn-default {
  background:#fff;
}
.btn-success {
  background:#84ce8b;
  border:0px;
}
.btn-primary {
  background:#3b5998;
  border:0px;
}
.btn-danger {
  background:#dd4b39;
  border:0px;
}
hr {
  border:0px;
  border-bottom:1px solid #ededed;
  width:100%;
  margin:10px 0px;
  height:1px;
}
#logo {
  display:block;
  margin-top:30px;
  margin-left:20px;
}
#header {
  margin-bottom:30px;
  min-height:80px;
}
#header .reg-panel {
  margin-top:35px;
}
#header .reg-panel ul {
  list-style:none
}
#header .reg-panel ul li{
  float:right;
  display:block;
  padding:5px 10px;
  font-size:14px;
  font-weight:bold;
}
#header .cart-panel {
  margin-top:33px;
  float:right
}
#header .cart-panel button{
  width:160px;
  font-size:14px;
  font-weight:bold;
}
#header .cart-panel button:focus {
  outline: none;
}

#header .cart-panel button img {
  margin-right:10px;
}
#header .navbar-panel {
  margin-top:24px;
  float:right
}
.more-item {
  text-align:center;
  margin-bottom:25px;
}
.more-item a{
  font-size:12px;
  padding:5px 30px;
}
.block-title {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.owl-prev,.owl-next {
  position:absolute;
  top:-200px;
  height:72px;
  width:72px;
  background-image:url(../images/slider-arr.png);
  background-repeat:no-repeat;
  color: transparent;
}
.owl-prev {
  left:10px;
  background-position:0px 0px;
}
.owl-next {
  right:10px;
  background-position: -72px 0px;
}
.image-round-left {
  background-repeat:no-repeat;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
}
.image-round-all {
  background-repeat:no-repeat;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;  
}
.progress-small {
  height:5px;
  border:1px solid #000;
  background:#fff;
  margin-bottom:10px;
}
.progress-bar-black {
  background-image: linear-gradient(to bottom, #000 0, #000 100%);
}
.pagenation {
  text-align:center;
  margin-bottom:30px;
}
.pagenation .page {
  display:inline-block;
  border:1px solid #ededed;
  border-radius :20px;
  width:30px;
  height:30px;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding-top:5px;
  margin:15px;
}
.pagenation .active {
  background:#ededed;
}
#footer {
  min-height:250px;
  background:#3c3d41;
  color:#fff;  
}
#footer .soc-panel {
   margin-top:30px;
}
#footer .soc-panel a {
  margin-right:25px;
}
#footer .pay-panel {
  text-align:right;
   margin-top:30px;
}
#footer .pay-panel a{
  margin-left:15px;
}
#footer .logo {
  width:100%;
  text-align:center;
  margin:30px 0px 25px;
}
#footer .bot-menu {
  text-align:center;
  color:#fff;
}
#footer .bot-menu ul {
 list-style:none; 
}
#footer .bot-menu ul li{
 display:inline-block;
 margin:0 25px
}
#footer .bot-menu ul li a{
  color:#fff;
  text-transform:uppercase;
  font-size:12px;  
}
#footer .bot-info {
  text-align:center;
  margin-top:15px;
  font-size:12px;
}
#footer .bot-info .title {
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom:10px;
}
#footer .copy {
  text-align:center;
  font-size:12px;
  margin-top:15px;
}
.cart-list {
  height:190px;
  overflow:auto;
}
.sum-block {
  padding-top:10px;
  text-align:center;
}
.sum-block #sum-total{
  font-size:18px;
  font-weight:bold;
}
.sum-block button {
  margin-top:10px;
  margin-bottom:10px;
}
.cart-list .item {
  height:90px;
  padding: 10px 0 ;
  margin-bottom:10px;
  border-bottom:1px solid #ededed;
}
.cart-list .item-img {
  width:30%;
  float:left;
  margin-right:20px;
}
.cart-list .item-img img {
  max-width:100%;
  height:70px;
}
.cart-list .item-title {
  font-size:12px;
  line-height:15px;
  font-weight:bold;
  margin-bottom:3px;
}
.cart-list .item-count{
  font-size:12px;
  margin-bottom:3px;
}
.cart-list .item-price{
  font-size:13px;
  font-weight:bold;
}
.popbox {
  position:relative;
}
.popbox  .collapse { 
  position:relative;
  display:block;
}
.popbox .box {
  display:block;
  display:none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:5px;
  box-shadow:0px 0px 15px #999;
  position:absolute;
  width:300px;
  z-index:20;
  padding:15px;
}
.popbox .box a.close {
  color:red;
  font-size:12px;
  font-family:arial;
  text-decoration:underline;
}
.popbox .arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #FFF;
  position:absolute;
  right:1px;
  top:-10px;
  z-index:1001;
}
.popbox .arrow-border {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #BBBBBB;
  position:absolute;
  top:-12px;
  z-index:1000;
}
.modal-middle {
  width:360px;
}  
.sing-form {
  padding: 30px 25px 25px;
}
.sing-form .filds{
  margin-bottom:20px;
  position:relative;
}
.sing-form label{
  position: absolute;
  top: 6px;
  left: 10px;
  cursor:text;
  font-size:12px;   
}
.sing-form label span{
  color:#8e8e8f;
  margin-right:10px;
}
.sing-form .text {
 font-size:12px;
 font-family: 'PTSerif'; 
 margin-bottom:20px;
}

.sing-form .text a{
  text-decoration:underline;
}
.sing-form  input[type="text"],.sing-form input[type="password"]{
  width:100%;
  background:#eeeeee;
  border-radius:2px;
  border-width:1px;
  padding: 0 10px;
  height:30px;
}
.sing-form .btn {
  width:100%;
  margin-bottom:20px;
  font-size:12px;
  text-transform:uppercase;  
  font-weight:bold;
}
.text-left {
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-center{
  text-align:center;
}
.half-block {
  width:50%;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.left-nopad {
  padding-left:0px;
}
.right-nopad{
  padding-right:0px;
}
.border-bot {
  border-bottom:1px solid #e7e7e7;
}
.comment-block {
  width:730px;
  margin:10px auto 30px;

  
}
.comment-block .item {
  padding-top:20px;
  border-top:1px solid #e7e7e7;
  margin-bottom:10px;
}
.comment-block .item-thumb {
  text-align:center;
}
.comment-block .item-thumb img{
  border-radius: 30px;
  max-width:50px;
  max-height:50px;
}
.comment-block .avtor {
  float:left;
  margin-right:20px;
  text-transform:uppercase;
  font-weight:bold;
   font-size:12px;
}
.comment-block .rate {
  float:left;
  margin-right:20px;
  font-size:12px;
}
.comment-block .date {
  font-size:12px;
  font-weight:lighter;
  font-style:italic;
  font-family: 'PTSerif', helvetica, tahoma, arial;
}
.comment-block .item-text {
    font-size:12px;
    font-family: 'PTSerif', helvetica, tahoma, arial;
}
.comment-block  .add-comment-text {
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  cursor:pointer;
  padding:10px 0px;
}
.comment-block .add-comment-block {
  width:80%;
  margin:10px auto ;
}
.comment-block .add-comment-block textarea{
  width:100%;
  border-radius:5px;
  height:100px;
  border:1px solid #dddddd;
}
.comment-block .add-comment-block button {
  float:right;
  margin:10px;
  text-transform:uppercase;
}
#map-contact{
  width:640px;
  height:480px;
  margin-bottom:30px;
}

.contact-block {
 font-size:16px;
 font-family: 'PTSerif', helvetica, tahoma, arial;
   margin-bottom:30px;
}
.contact-block a{
  text-decoration:underline;
}