@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.otf');
    font-weight:lighter;
}
@font-face {
    font-family: PTSerif;
    src: url('../fonts/PTSerif.ttf');
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.clean {
  clear:both;
}
.hide-desk {
  display:none;
}
body {
	margin: 0;
	padding: 0px;
	height: 100%;
	color: #2e2e30;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Montserrat', helvetica, tahoma, arial;
}
a img {
  border:0px;
}
a {
 color: #2e2e30;
}
a:hover{
  text-decoration:none;
}
@media screen and (min-width: 1020px) {
.container {
 width:1000px; 
}
}
@media screen and (max-width: 1020px) {

}
.btn {
  border-radius: 20px;
}
.btn-default {
  background:#fff;
}
.btn-success {
  background:#84ce8b;
  border:0px;
}
.btn-primary {
  background:#3b5998;
  border:0px;
}
.btn-danger {
  background:#dd4b39;
  border:0px;
}

hr {
  border:0px;
  border-bottom:1px solid #ededed;
  width:100%;
  margin:10px 0px;
  height:1px;
}
#logo {
  display:block;
  margin-top:30px;
  margin-left:20px;
}
#header {
  margin-bottom:30px;
  min-height:80px;
}
#header .reg-panel {
  margin-top:35px;
}
#header .reg-panel ul {
  list-style:none
}
#header .reg-panel ul li{
  float:right;
  display:block;
  padding:5px 10px;
  font-size:14px;
  font-weight:bold;
}
#header .cart-panel {
  margin-top:33px;
  float:right
}
#header .cart-panel button{
  width:160px;
  font-size:14px;
  font-weight:bold;
}
#header .cart-panel button:focus {
  outline: none;
}

#header .cart-panel button img {
  margin-right:10px;
}
#header .navbar-panel {
  margin-top:24px;
  float:right
}
#home-slider {
  height:500px;
  overflow:hidden;
  position:relative;
  margin-bottom:30px;
}
#home-slider .item-bg{
  width:100%;
  height:500px;;
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center center;
  
}

#home-slider .owl-controls {
  position:absolute;
  bottom:30px;
  width:100%;
  background: transparent;
}
#home-slider .owl-dots,#home-slider .owl-nav {
  width:980px;
  margin:0 auto;
  position:relative;
}
#home-slider .slide-title {
  height:49%;
  font-family:'Montserrat';
  font-size:52px;
  vertical-align:bottom;
  padding-bottom:20px;
  padding-top:100px;
  margin:0 auto;
  max-width:980px;
  color:#fff;
  font-weight:bold;
  text-align:center;
  line-height:55px;
}
#home-slider .slide-line{
  height:1%;
  margin:0 auto;
  border-bottom:1px solid #fff;
  width:520px;
}
#home-slider .slide-desc {
  height:50%;
  margin:0 auto;
  color:#fff;
  font-family: 'PTSerif';
  text-align:center;
  font-size:26px;
  padding-top:15px;
}
.block-title-home {
  text-align:center;
  font-family:'Montserrat';
  font-size:22px;
  margin-bottom:30px;
  font-weight:bold;
  text-transform:uppercase;
}
.content-company .item {
  height:440px;
  margin-bottom:20px;
  position:relative;
  
}
.content-company .item  .producer-img {
  width:100%;
  height:100%;
  padding:25px;
  background-size: cover;
}
.content-company .item .company-title{
  height:200px;
  font-family:'Montserrat';
  font-weight:bold;
  font-size:28px;
  padding-bottom:30px;
  display: table-cell;
  vertical-align:bottom;
  color:#fff;
  text-align:center;
  width:420px;
}
.content-company .item .company-line {
  width:70%;
  margin:0 auto;
  border-bottom:1px solid #fff;
  margin-bottom:25px
}
.content-company .item .company-from {
  font-size:16px;
  font-family:'Montserrat';
  font-weight:bold;
  color:#fff;
  text-align:center;
  margin-bottom:25px;
}
.content-company .item .company-shop {
  text-align:center;
}
.content-company .item .company-shop a{
  background:none;
  color:#fff;
  font-weight:bold;
  font-size:12px;
  padding:5px 30px;
}
.content-company .item .company-shop a:HOVER{
  background:#fff;
  color:#2e2e30;
}
.content-company .item .progress-block {
  position:absolute;
  bottom:20px;
  left:0px;
  width:100%;
  padding:0 40px;
  text-align:center;
  height:50px;
}
.more-item {
  text-align:center;
  margin-bottom:25px;
}
.more-item a{
  font-size:12px;
  padding:5px 30px;
}
.content-company .item .company-time {
  color:#fff;
  font-size:16px;
  margin-bottom:20px;
}
.owl-prev,.owl-next {
  position:absolute;
  top:-200px;
  height:72px;
  width:72px;
  background-image:url(../images/slider-arr.png);
  background-repeat:no-repeat;
  color: transparent;
}
.owl-prev {
  left:10px;
  background-position:0px 0px;
}
.owl-next {
  right:10px;
  background-position: -72px 0px;
}
.image-round-left {
  background-repeat:no-repeat;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
}
.image-round-all {
  background-repeat:no-repeat;
  -webkit-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px;  
}
#producer {
  margin-bottom:30px;
}

#producer .producer-img {
  min-width:480px;
  min-height:440px;
  width:100%;
  height:100%;
  position:relative;
  background-repeat:no-repeat;
  background-size: cover;
}
#producer .producer-info h2 {
  font-size:28px;
  margin:5px 0;
  font-weight:bold;
}
#producer .producer-info h3 {
  font-size:16px;
  font-weight:normal;
  margin:0px 0px 5px;
}
#producer .producer-info .short-info {
  font-size:12px;
  font-weight:bold;
  margin-bottom:15px;
}
#producer .producer-info .short-info a:link,#producer .producer-info .short-info a:visited,#producer .producer-info .short-info a:active {
  text-decoration:underline;
}
#producer .producer-info .number {
  font-size:22px;
  line-height:34px;
  margin-bottom:6px;
}
#producer .producer-info .number span{
  font-size:52px;
  font-weight:bold;
  display:block;
}
#producer .producer-info .soc-panel {
  margin-top:10px;
}
#producer .producer-info .soc-panel a{
  display:block;
  float:left;
  margin-right:25px;
}
#producer .producer-info .block-info .float-right{
  float:none;
}
.progress-small {
  height:5px;
  border:1px solid #000;
  background:#fff;
  margin-bottom:10px;
}
.progress-bar-black {
  background-image: linear-gradient(to bottom, #000 0, #000 100%);
}

.left-col {
  
}
.left-col .block{
  border:1px solid #ededed;
  border-radius:8px;
  margin-bottom:30px;
}
.left-col .block2{
  border:1px solid #ededed;
  border-radius:15px;
  margin-bottom:30px;
}
.left-col .filter {
  text-transform:uppercase;
  font-size:12px;
  margin:10px;
  padding:0 0 0 10px;
  text-align:left;
}
.left-col .filter select {
  border:0px;
  text-transform:uppercase;
  font-weight:bold;
}
.left-col .clear-filter {
  display:block;
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
  text-align:left;
  padding:5px 20px;
}
.left-col .block-title {
  text-transform:uppercase; 
  padding:20px 20px;
  border-bottom:1px solid  #ededed;
  font-size:12px;
  font-weight:bold;
}
.left-col .category {
  list-style:none;
  padding-left:0px;
  margin:20px 10px 20px 20px;
}
.left-col .category input[type=checkbox]{
  margin-right:20px;
}
.left-col .category li {
  margin-bottom:10px;  
  font-family: 'PTSerif', helvetica, tahoma, arial;
  font-size:16px;
}
.left-col .layout-slider {
  margin:20px;
}


.prod-list {
  padding: 0px;
}
.prod-list .row{
  padding:0px;
  margin:0px;
}
.prod-list .item {
  width:230px;
  border:1px solid #ededed;
  border-radius:8px;
  height:360px;
  overflow:hidden;
  position:relative;
  float:left;
  padding:0px;
  margin:0 10px 20px 10px
}
.prod-list .item  .item-img {
  width:100%;
  height:220px;
}
.prod-list .item .item-title {
  font-size:16px;
  font-weight:bold;
  width:228px;
  overflow:hidden;
  text-align:center;
  padding-top:15px;
  padding-bottom:5px;
  line-height:20px;
  height:58px; 
}
.prod-list .item .item-price {
  text-align:center;
  font-size:20px;
  font-weight:bold;
  
}
.prod-list .item .item-count {
  text-align:left;
  font-size:20px;
}
.prod-list .item .qty {
    width: 40px;
    text-align: center;
    border:0px;
    float:left;
}
.prod-list .item input.qtyplus,.prod-list .item input.qtyminus  { 
  width:15px; 
  height:15px;
  border-radius:10px;
  border:0px;
  font-size:10px;
  padding:0px;
  float:left;
  margin-top:9px;
}
.prod-list .item .item-order {
  text-align:center;
  margin-top:5px;
}
.prod-list .item .item-order .btn{
  font-size:12px;
  margin:0 auto;
  width:90%;
}
.pagenation {
  text-align:center;
  margin-bottom:30px;
}
.pagenation .page {
  display:inline-block;
  border:1px solid #ededed;
  border-radius :20px;
  width:30px;
  height:30px;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding-top:5px;
  margin:15px;
}
.pagenation .active {
  background:#ededed;
}
#footer {
  min-height:250px;
  background:#3c3d41;
  color:#fff;
  
}
#footer .soc-panel {
   margin-top:30px;
}
#footer .soc-panel a {
  margin-right:25px;
}
#footer .pay-panel {
  text-align:right;
   margin-top:30px;
}
#footer .pay-panel a{
  margin-left:15px;
}
#footer .logo {
  width:100%;
  text-align:center;
  margin:30px 0px 25px;
}
#footer .bot-menu {
  text-align:center;
  color:#fff;
}
#footer .bot-menu ul {
 list-style:none; 
}
#footer .bot-menu ul li{
 display:inline-block;
 margin:0 25px
}
#footer .bot-menu ul li a{
  color:#fff;
  text-transform:uppercase;
  font-size:12px;
  
}
#footer .bot-info {
  text-align:center;
  margin-top:15px;
  font-size:12px;
}
#footer .bot-info .title {
  text-transform:uppercase;
  font-weight:bold;
  margin-bottom:10px;
}
#footer .copy {
  text-align:center;
  font-size:12px;
  margin-top:15px;
}
.cart-list {
  height:190px;
  overflow:auto;
}
.sum-block {
  padding-top:10px;
  text-align:center;
}
.sum-block #sum-total{
  font-size:18px;
  font-weight:bold;
}
.sum-block button {
  margin-top:10px;
  margin-bottom:10px;
}
.cart-list .item {
  height:90px;
  padding: 10px 0 ;
  margin-bottom:10px;
  border-bottom:1px solid #ededed;
}
.cart-list .item-img {
  width:30%;
  float:left;
  margin-right:20px;
}
.cart-list .item-img img {
  max-width:100%;
  height:70px;
}
.cart-list .item-title {
  font-size:12px;
  line-height:15px;
  font-weight:bold;
    margin-bottom:3px;
}
.cart-list .item-count{
  font-size:12px;
  margin-bottom:3px;
}
.cart-list .item-price{
  font-size:13px;
  font-weight:bold;
}
.popbox {
  position:relative;
}

.popbox  .collapse { 
  position:relative;
  display:block;
}

.popbox .open {
  
}

.popbox .box {
  display:block;
  display:none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:5px;
  box-shadow:0px 0px 15px #999;
  position:absolute;
  width:300px;
  z-index:20;
  padding:15px;
}

.popbox .box a.close {
  color:red;
  font-size:12px;
  font-family:arial;
  text-decoration:underline;
}

.popbox .arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #FFF;
  position:absolute;
  right:1px;
  top:-10px;
  z-index:1001;
}

.popbox .arrow-border {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #BBBBBB;
  position:absolute;
  top:-12px;
  z-index:1000;
}
.reg-form .reg-social {
  text-align:center;  
}
.reg-form .btn {
  width:100%;
  margin-bottom:20px;
  font-size:12px;
  text-transform:uppercase;  
  font-weight:bold;
}
.reg-form .reg-social .test {
 font-size:16px;
 font-family: 'PTSerif';
 margin-bottom:25px;
}
.reg-form .filds {
  margin-bottom:10px;
}
.reg-form .label-input{
  text-align:right;
}
.reg-form  label{
    font-weight:lighter;
    font-size:12px;
    text-transform:uppercase;
}
.reg-form .normal-text {
  text-transform:none;
  font-size:16px;
  font-family: 'PTSerif';
}
.reg-form .normal-text a {
  text-decoration:underline;
}
.reg-form .input-value {
  text-align:left;
}
.reg-form .input-value input[type="text"],.reg-form .input-value input[type="password"]{
  width:100%;
  background:#eeeeee;
  border-radius:2px;
  border-width:1px;
  padding: 0 10px;
  height:30px;
}
.modal-middle {
  width:360px;
}

  
.sing-form {
  padding: 30px 25px 25px;
}
.sing-form .filds{
  margin-bottom:20px;
  position:relative;
}
.sing-form label{
  position: absolute;
  top: 6px;
  left: 10px;
  cursor:text;
  font-size:12px;   
}
.sing-form label span{
  color:#8e8e8f;
  margin-right:10px;
}
.sing-form .text {
 font-size:12px;
 font-family: 'PTSerif'; 
 margin-bottom:20px;
}
.sing-form .text a{
  text-decoration:underline;
}
.sing-form  input[type="text"],.sing-form input[type="password"]{
  width:100%;
  background:#eeeeee;
  border-radius:2px;
  border-width:1px;
  padding: 0 10px;
  height:30px;
}
.sing-form .btn {
  width:100%;
  margin-bottom:20px;
  font-size:12px;
  text-transform:uppercase;  
  font-weight:bold;
}
.text-left {
  text-align:left;
}
.text-right{
  text-align:right;
}
.half-block {
  width:50%;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.left-nopad {
  padding-left:0px;
}
.right-nopad{
  padding-right:0px;
}
.border-bot {
  border-bottom:1px solid #e7e7e7;

}
.cart {
  width:730px;
  margin:0 auto;
  overflow: hidden;
  margin-bottom:30px;
}
.cart-header {
  font-size:12px;
  font-weight:bold;
  margin-bottom:20px;
  width:100%;
  padding-bottom:10px;
}
.cart-list-full {
  width:100%;
  
}
.cart-list-full .item {
 
  padding:15px 0px;
}
.cart-list-full .item .qty{
    width: 40px;
    text-align: center;
    border:0px;
    float:left;
    margin-top:3px;
}
.cart-list-full .item input.qtyplus,.cart-list-full .item input.qtyminus{ 
  width:15px; 
  height:15px;
  border-radius:10px;
  border:0px;
  font-size:10px;
  padding:0px;
  float:left;
  margin-top:9px;
}
.cart-list-full .item .item-img img{
  max-width:100%;
  height:100px;
  border:1px solid #e7e7e7;
}
.cart-list-full .item .item-title {
  font-size:16px;
  font-weight:bold;
  display:table-cell;
  vertical-align:middle;
  height:100px;
  padding-top:15px;
}
.cart-list-full .item .item-title div{
  font-weight:lighter;
  font-size:12px;
}
.cart-list-full .item-count {
  padding-top:15px;
}
.cart-list-full .item-count a{
  font-weight:lighter;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:underline;
  width:100%;
  margin:10px 7px;
  display:block;
}
.cart-list-full .item-price{
  padding-top:20px;
}
.cart-list-full .item-total{
  padding-top:20px;
}
.shipping {
  width:100%;
  overflow: hidden;
  padding:15px 0 5px;
}
.shipping .shipping-sel label{
  width:30%;
}
.shipping .shipping-sel select{
  width:60%; 
  background:#eeeeee;
  border:0px;
  padding:3px;
}
.shipping .shipping-text div,.shipping .shipping-price div{
  font-weight:bold;
  text-align:right;
  margin-bottom:10px;
}
.total-sum {
  width:100%;
  padding:15px 0;
  font-size:20px;
  font-weight:bold;
}
.total-sum .all-sum {
  font-size:28px;
}
.but-panel button{
  width:100%;
}
.slider-range {
  height:1px;
  border:0px;
  background:#ededed;
  width:90%;
  margin:10px auto 20px;
}
.slider-range .ui-slider-range {
  background:#000;
}
.slider-range .ui-state-default {
  border-radius:10px;
  top:-10px;
  cursor:pointer;
  border-color:#000;
  background:#fff;
}
.slider-range span:focus {
    outline: none;

}
.amount {
  text-align:center;
  margin:10px 0px;
}