.cart {
  width:100%;
  margin:0 auto;
  overflow: hidden;
  margin-bottom:30px;
}

.cart-list-full {
  width:100%;
  
}
.cart-list-full .item {
 
  padding:15px 0px;
}
.cart-list-full .item .qty{
    width: 40px;
    text-align: center;
    border:0px;
    float:left;
    margin-top:3px;
}
.cart-list-full .item input.qtyplus,.cart-list-full .item input.qtyminus{ 
  width:15px; 
  height:15px;
  border-radius:10px;
  border:0px;
  font-size:10px;
  padding:0px;
  float:left;
  margin-top:9px;
}
.cart-list-full .item .item-img img{

  border:1px solid #e7e7e7;
}
.cart-list-full .item .item-title {
  font-size:16px;
  font-weight:bold;
  text-align:center;
  padding-top:10px;
}
.cart-list-full .item .item-title div{
  font-weight:lighter;
  font-size:16px;
}
.cart-list-full .item-count {
  padding-top:5px;
  width:90%; 
  margin:0 auto; 
}
.cart-list-full .item-count a{
  font-weight:lighter;
  font-size:12px;
  text-transform:uppercase;
  text-decoration:underline;
  width:40%;
  margin:10px 7px;
  display:block;
  float:right;
  font-size:11px;
  text-align:right;
}
.cart-list-full .item-total{

  text-align:center;
  font-weight:bold;
}
.shipping {
  width:100%;
  padding:0 15px;
  overflow: hidden;
  padding:15px 0 5px;
  text-align:center
}
.shipping .shipping-sel label{
  width:30%;
  font-size:12px;
  font-weight:bold;
}
.shipping .shipping-sel select{
  width:60%; 
  background:#eeeeee;
  border:0px;
  padding:3px;
}
.shipping .shipping-text {
  width:50%;
  float:left;
  margin-top:15px;
}
.shipping .shipping-price {
  width:50%;
  float:right;
  margin-top:15px;
}
.shipping .shipping-text div,.shipping .shipping-price div{
  font-weight:bold;
  text-align:center;
  margin-bottom:10px;
}
.total-sum {
  width:100%;
  font-size:20px;
  font-weight:bold;
}
.total-sum .all-text {
  width:50%;
  float:left;
  text-align:center
}
.total-sum .all-sum {
  font-size:28px;
  width:50%;
  float:right;
  text-align:center
}
.but-panel {
  text-align:center;
  margin:10px 0 40px;
}
.but-panel button{
  width:80%;
  margin-bottom:10px;
}