.header{

}
.logo{
    float: left;
}
.menu{
    float: right;
}
.clearfix{
    clear: both;
    height: 0px;
}
.content{

}
.user-face{
    border: solid 1px black;
}
.user-activity{


}

.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.campaigns-filter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.campaigns-filter button{
    width: 100px;
}

.footer{
    color: white;
    background-color: darkolivegreen;
}
.footer-menu{
    list-style-type: none;
}
button {
     min-width: 110px;
 }

/*-Katya css-*/
/*hr {*/
    /*border: 0px;*/
    /*border-bottom: 1px solid #ededed;*/
    /*width: 100%;*/
    /*margin: 10px 0px;*/
    /*height: 1px;*/
/*}*/
/*.editprofile {*/
    /*border-bottom: 1px solid #ededed;*/
/*}*/

/*.profileinfo{*/
    /*border-radius: 5px:url(images/Stroke.png)*/
/*border-style: solid;*/
    /*border-color: #ededed;*/
    /*border-width: 0.5px;*/
/*}*/
/*.customer{*/
    /*width: 118px;*/
    /*height: 19px;*/
    /*color: #2e2e30;*/
    /*font: 700 22px / 24px Montserrat;*/
    /*top: 329px;*/
    /*left: 166px;*/
/*}*/

/*.info {*/
    /*width: 120px;*/
    /*height: 142px;*/
    /*color: #2e2e30;*/
    /*font: 400 12px PTSerif;*/
    /*font-size: 12px;*/
    /*top: 364px;*/
    /*left: 130px;*/
/*}*/

/*.underline {*/
    /*text-decoration: underline 1px solid #979798;*/
/*}*/
/*.btn btn-success{*/
    /*box-sizing: border-box:562px:30px:575px:345px:268px:280px;*/
    /*border-radius: 5px;*/
/*}*/
/*footer {*/
    /*top: 250px:0px: 610px: 1200px;*/
/*}*/