.logo{
    float: left;
}
.menu{
    float: right;
}
.clearfix{
    clear: both;
    height: 0px;
}
.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.campaigns-filter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.campaigns-filter button{
    width: 100px;
}